nav {
    height: 100%;
}

.side-nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.side-nav-button:hover {
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 30%;
}